.list{
  width: 100%;
  min-width: 200px;
  padding: 8px 0;
  min-height: inherit;
}

.list__item{
  padding: 0px 16px;
  min-height: 48px; 
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list__item_double-line, .list__item-tex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.list__item_height, .list__item_double-line{
  min-height: 72px;
}

.list__item:hover, .list__item:hover:focus, .list__icon:hover, .list__icon:hover:focus
{
  background: rgba(0, 0, 0, 0.15);
  transition: all 1s;
}


.list__item small{
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.list__sub-item{
  margin-left: 4px;
}

.list__item-icon{
  width: 56px;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: middle;
  line-height: 0;
}


.list__item-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
}